language: cpp

before_install:
  - sudo apt-get update
  - sudo apt-get install libqt4-dev xvfb
  - if [ "$USE_LIBNOTIFY" == 1 ]; then sudo apt-get install libnotify-dev; fi

env:
  matrix:
    - USE_LIBNOTIFY=0
    - USE_LIBNOTIFY=1

script:
  - make USE_LIBNOTIFY=$USE_LIBNOTIFY
  - xvfb-run make check
