[Desktop Entry]
Categories=AudioVideo;AudioVideoEditing;
Comment=Convert between media file formats
Comment[zh_TW]=轉換影音檔案格式
Name=QWinFF
GenericName=Media Converter
GenericName[zh_TW]=影音轉檔器
Exec=qwinff %U
Icon=qwinff
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-SuSE-translate=true
