[Desktop Entry]
Categories=AudioVideo;AudioVideoEditing;
Comment=Convert between media file formats
Comment[zh_TW]=轉換影音檔案格式
Comment[zh_CN]=转换影音文件格式
Comment[cs]=Převést mezi formáty souborů
Comment[es]=Convertir entre formados de archivos
Comment[it]=Converte file multimediali in vari formati
Comment[ja]=音声とビデオファイルの変換
Comment[ro]=Converteşte formatele de fișiere media
Comment[ru]=Преобразование между медиа-форматами
Comment[tr]=Çokluortam dosya biçimleri arasında dönüştürme
Comment[ar]=تحويل بين صيغ ملفات الوسائط
Comment[hu]=Média fájlformátumok átalakítása
Comment[pl]=Konwersja plików multimedialnych, pomiędzy różnymi formatami
Name=QWinFF
GenericName=Media Converter
GenericName[zh_TW]=影音轉檔器
GenericName[zh_CN]=影音转换器
GenericName[cs]=Převodník médií
GenericName[es]=Convertidor de Medios
GenericName[it]=Convertitore di file multimediali
GenericName[ja]=メディア変換
GenericName[ro]=Media Converter
GenericName[ru]=Медиа-конвертер
GenericName[tr]=Çokluortam Dönüştürücü
GenericName[ar]=محول الوسائط
GenericName[hu]=Média átalakító
GenericName[pl]=Konwerter mediów
Exec=qwinff %U
Icon=qwinff
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-SuSE-translate=true
