[Desktop Entry]
Name=QWinFF
Comment=A graphical frontend to the media transcoder FFmpeg.
Comment[zh_TW]=FFmpeg前端介面
GenericName=Media Converter
GenericName[zh_TW]=影音轉檔器
Exec=qwinff
Icon=qwinff.png
Type=Application
Categories=Application;AudioVideo
